footer{
    background-color: map-get($map: $colores, $key:fondo );
}

h4{
    font-family:Pacifico;
    font-size:2rem;
}

.pieMedios{
    ul{
        li{
            color: map-get($map: $colores, $key:"medios" );
            list-style:none;
            font-size:1.5rem;

        }
    }
}
.pieMedios{
     h2{
        font-family: pacifico;
    }
}

