main{
    h2{
        background-color:map-get($map: $colores, $key: "fondo") ;
    }
    h3{
        background-color:map-get($map: $colores, $key: "fondo") ;
    }
}

#Carmela{
    background: map-get($map: $colores, $key:"bordes" );
    color: white;
}

